html {
  height: 100%;
}

body {
  height: 100%;
}


body[data-theme="dark"] {
  background-color: #274d5a;
}

body[data-theme="light"] {
  background-color: #d2cfa0;
}

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.button {
  position: absolute;
  width: 100%;
  text-align: center;
}

.left {
  height: 100%;
  width: 50%;
  display: block;
}
.right {
  width: 50%;
  height: 100%;
}